* {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  box-sizing: border-box;
}

body{
  background: linear-gradient(rgb(255, 255, 255), rgb(186, 247, 255));
  transition-property: background-color;
  min-height: 100vh;
}
