.task{
  align-items: center;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,255,255,.7);
  color: #fff;
  display: flex;
  justify-content: space-around;
  max-width: 700px;
  min-height: 50px;
  padding: 3px 10px 7px;
  width: 100%;
  margin-bottom: 2em;
}

.task_name{
  color: #fff;
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  width: calc(100% - 90px);
  word-break: break-word;
}

.task_icons{
  -webkit-column-gap: 15px;
  column-gap: 15px;
  display: flex;
  height: 20px;
  width: 90px;
}

.task_icons svg{
  cursor: pointer;
  height: 20px;
  transition: opacity .2s linear;
  width: 20px;
  
}